<style>
  body {
      font-family: Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 0;
      padding: 0;
      background-color: #8cb1b6;
  }
  .card {
      background-color: #ffffff;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      margin: 20px;
      padding: 20px;
      width: 80%;
      max-width: 1000px;
  }
  .card h1, .card p {
      margin: 0 0 10px;
  }
  .profile-card {
      display: flex;
      align-items: center;
  }
  .profile-card .details {
      flex: 1;
  }
  .profile-card img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      margin-left: 20px;
  }
  .images {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
  }
  .images img {
      width: calc(50% - 10px);
      border-radius: 5px;
  }
  .description {
      margin-top: 20px;
  }
</style>
<body>
<div class="card profile-card">
  <div class="details">
      <h1>Paula Verdugo</h1>
      <p>Estudiante de Software 1er Ciclo</p>
      <p>Correo electrónico: pyverdugo@sudamerico.edu.ec</p>
      <p>Teléfono: +593 998537537</p>
  </div>
  <img src="blogg.enc" alt="Foto de Perfil">
</div>
<div class="card">
  <h2>Un poco de sobre mi:</h2>
  <p>Mi nombre es Paula soy una persona que le gusan mucho los atardeceres, los libros, las flores, el frio y  me encantan los cambios, el cafe en una ma;a fria, viajar y decubrir lugares nuevos. Otro de mis
    hobbies es la actividad fisica, en el gymnasio parcticar pesas lo cual lo deje por un timpo, pero retomare... 
    Pero ultimamente he viajado a diferentes partes del cajas me gusta mucho las caminatas hacer treking en lugares escondidos del Pais. El que ultimamente he estado trabajando para cumpli mi mayor meta es abrir una tineda online con mi marca persoal, mediantee la carrara de desarrolador de software y trabajar remotamente mientras viajo.
  </p>
  <div class="images">
      <img src="imagen444.jfif" alt="'imagen11">
      <img src="imagen222.jfif" alt="Imagen 2">
      <img src="imagen111.jfif" alt="Imagen 3">
      <img src="imagen333.jfif" alt="Imagen 4">
  </div>
  <div class="Un poco de sobre mi:">
    
    
  </div>
</div>
</body>  
