body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    width: 80%;
    max-width: 800px;
}
.card h1, .card p {
    margin: 0 0 10px;
}
.profile-card {
    display: flex;
    align-items: center;
}
.profile-card .details {
    flex: 1;
    margin-left: 20px;
}
.profile-card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.images {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
}
.images img {
    width: calc(33.33% - 10px);
    border-radius: 5px;
}
.description {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
            text-align: center;
            height: 200px;
            
}
.description img {
    width: 150px;
    height: 200px;
    border-radius: 150px;
    border-radius: 5px;
}
.description p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}
.footer-card {
    display: flex;
    align-items: center;
}
.footer-card .details {
    flex: 1;
    margin-right: 20px;
}
.footer-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}